@page "/community"

<section class="communityTimeline">
    <div class="container">
        <div class="content">
            @if (TimelineDays != null)
            {
                <section>
                    @foreach (var day in TimelineDays)
                    {
                        <h5>
                            @day.DayName
                        </h5>
                        <Timeline Entries="@day.Entries" />
                    }
                </section>
            }

            <div class="completedDays">
                <div class="completedDays__title">
                    <p>Previous 100 Dayers</p>
                    <p class="viewMore">View All</p>
                </div>

                @if (Get100Dayers != null)
                {
                    @foreach (var habitCompleted in Get100Dayers)
                    {
                        <div class="completedDay">
                            <p class="completedDay__date">@habitCompleted.ActualDate.ToString("dd/MM/yyyy")</p>
                            <p class="completedDay__text">@habitCompleted.Review</p>
                            <p class="completedDay__user">@habitCompleted.Username</p>
                        </div>
                    }
                }
                else
                {
                <div class="completedDay">
                    <p class="completedDay__date">15/02/2022</p>
                    <p class="completedDay__text">I’ve done it, 100 days!! 🥳</p>
                    <p class="completedDay__user">&#64;andrebiachi</p>
                </div>
                <div class="completedDay">
                    <p class="completedDay__date">15/02/2022</p>
                    <p class="completedDay__text">If you had asked me 100 days ago, if I could do this, I would of said no way.</p>
                    <p class="completedDay__user">&#64;andrebiachi</p>
                </div>
                }
            </div>
        </div>
    </div>

</section>

@code {
    ICollection<TimelineDay>? TimelineDays;

    ICollection<Get100DayersResponse>? Get100Dayers;

    protected override async Task OnInitializedAsync()
    {
        TimelineDays = await Api.GetCommunityTimelineAsync();

        Get100Dayers = await Api.Get100DayersAsync();
    }
}