@page "/community"

<section class="communityTimeline">
    <div class="container">
        <div class="content">
            @if (TimelineDays != null)
            {
                <section>
                    @foreach (var day in TimelineDays)
                    {
                        <h5>
                            @day.DayName
                        </h5>
                        <Timeline Entries="@day.Entries" />
                    }
                </section>
            }
            <div class="completedDays">
                <div class="completedDays__title">
                    <p>Previous 100 Dayers</p>
                    @*<p class="viewMore">View All</p>*@
                </div>         

                @if (get100s != null)
                {
                    foreach (var entry in get100s) {
                        <div class="completedDay">
                            <p class="completedDay__date">@entry.Date.GetValueOrDefault().ToString("mm/dd/yy")</p>
                            <p class="completedDay__text">@entry.Text</p>
                            <p class="completedDay__user"><a href="/habits/@entry.User/@entry.HabitId" class="username">@entry.User</a></p>
                        </div>
                    }

                }
            </div>


            @*This code is here just to remember to limit to 5 the number of reviews*@
            @*@foreach (var entry in Timelines.Take(5))
            {
            }*@

        </div>
    </div>

</section>

@code {
    ICollection<TimelineDay>? TimelineDays;
    ICollection<Get100DayersResponse>? get100s;

    protected override async Task OnInitializedAsync()
    {
        TimelineDays = await Api.GetCommunityTimelineAsync();

        get100s = await Api.Get100DayersAsync();
    }
}