<div id="grid-animation" class="calendar-grid">
    @foreach (var day in Days)
    {
        <time datetime="@Format(day)" class="@IsTracked(day) @IsSuccessful(day) @IsCurrent(day)">
            @day.Day
        </time>
    }
</div>

@code {
    [Parameter] public ICollection<Progression> Days { get; set; }
    int currentDay;

    protected override void OnInitialized()
    {
        currentDay = Days.FirstOrDefault(x => !x.IsTracked)?.Day ?? 0;
    }

    string Format(Progression day)
    {
        var date = day.ActualDate ?? day.TargetDate;
        return $"{date:yyyy-MM-dd}T{date:hh:mm:ss}Z";
    }

    string IsTracked(Progression day) => day.IsTracked ? "day-tracked" : "";
    string IsSuccessful(Progression day) => day.IsSuccessful == true ? "day-success" : day.IsSuccessful == false ? day.ActualDate == null ? "day-missed" : "day-fail" : "";
    string IsCurrent(Progression day) => day.Day == currentDay ? "day-current" : "";
}