@page "/habit"
@page "/habits/create"
@page "/habits/{HabitId}"

@if (!IsLoading)
{
    <div class="habit-index">
        <header>
            @if (Habit?.Id != null)
            {
                <h6>100 days to</h6>
                <h3>@Habit.HabitName</h3>
            }
            else
            {
                <h6>Welcome @(Account?.Name)</h6>
                <h3>Let's plan your 100 days</h3>
            }
        </header>

        <div class="grid-wrapper @(Habit?.Id == null ? "is-not-created" : "") @(IsCreating ? "new-habit-animation" : "") @(IsEnteringDay ? "entry-day-animation" : "")">
            <CreateHabit OnSubmit="BeginHabit" />

            <div></div> @* Placeholder for top right column of animating grid *@

            <div class="calendar-grid-wrapper">
                <DayGrid Habit="Habit" />
                @if (Habit?.CurrentDay != null && Habit.UserId == Account?.Id)
                {
                    <button class="secondary" @onclick="EnterDay">Update Day @Habit.CurrentDay</button>
                    <a class="button twitter-share-button secondary-button" href="@Share()">
                        <span id="twitter">
                            <img src="images/Twitter.svg" />
                        </span>
                        Share Progress on Twitter
                    </a>
                }
            </div>

            @if (Habit?.Id != null)
            {
                <EntryDay Habit=@Habit OnSubmit="RefreshHabit" />
                <Timeline Entries=TimelineEntries />
            }
        </div>
    </div>
}

@inject Sparc.Core.Device Device
@code {
    [Parameter] public string? HabitId { get; set; }
    Habit? Habit { get; set; } = new();
    ICollection<LawOf100.Features.Timeline>? TimelineEntries { get; set; }
    Account? Account;
    bool IsCreating;
    bool IsEnteringDay;
    bool IsLoading = true;

    protected override async Task OnInitializedAsync()
    {
        Account = await Api.GetAccountAsync(new Features.Device
            {
                Id = Device.Id,
                PushToken = Device.PushToken,
                Idiom = Device.Idiom,
                Manufacturer = Device.Manufacturer,
                Model = Device.Model,
                Name = Device.Name,
                Platform = "Web",
                DeviceType = Device.DeviceType,
                VersionString = Device.VersionString
            });

        if (Nav.ToBaseRelativePath(Nav.Uri) == "habit")
        {
            if (!Account.IsProfileSet)
                Nav.NavigateTo("/profile");
            else if (Account.CurrentHabitId == null)
                Nav.NavigateTo("/habits/create");
            else
                Nav.NavigateTo($"/habits/{Account.CurrentHabitId}");
        }
    }

    protected override async Task OnParametersSetAsync()
    {
        if (HabitId != null)
        {
            Habit = await PublicApi().GetHabitAsync(HabitId);
            TimelineEntries = await PublicApi().GetTimeLineAsync(HabitId);
            IsLoading = false;
        }
    }

    void EnterDay() => IsEnteringDay = true;

    void BeginHabit(Habit habit)
    {
        Habit = habit;
        IsCreating = true;
        Nav.NavigateTo($"/habits/{habit.Id}");
    }

    void RefreshHabit(Habit habit)
    {
        IsEnteringDay = false;
        Habit = habit;
    }

    string Share()
    {
        var shareText = Uri.EscapeDataString($"💯 days to {Habit!.HabitName}:\n{ShareGrid()}");
        var shareUrl = Uri.EscapeDataString($"https://lawof100.co/{Nav.ToBaseRelativePath(Nav.Uri)}");

        return $"https://twitter.com/intent/tweet?text={shareText}&url={shareUrl}";
    }

    string ShareGrid()
    {
        var str = new System.Text.StringBuilder();
        var count = 0;
        foreach (var day in Habit!.Progressions)
        {
            str.Append(day.IsSuccessful == true ? "🟩" : day.IsTracked == false ? "⬜" : "🟧");
            if (++count % 10 == 0)
                str.Append("\n");
        }
        return str.ToString();
    }
}
